body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;

    
}
.name{
    border-radius: 10px;
    color: rgb(42, 15, 242);
    margin-right: 10px;
    height: 20px;
    width: 155px;
    
}
.btn{
    margin-right: 40px;
    border-radius: 30px;
    width: 50px;
    height: 30px;
    
}
form{
    width: 250px;
    height: 400px;
    margin-top: 160px;
    margin-left: 500px;
    padding-left: 29px;
    border-radius: 25px;
    border-style:outset;
    border-color: rgb(250, 215, 145);
    box-shadow: 0px 0px 0px 4px rgb(62, 218, 235);

}
label{
    margin-right: 130px;
}

.form{
     background-color: rgba(0, 255, 255, 0.3);
     

}